.footer__wrapper {
  margin: 0 auto;

  @media (min-width: $desktop-width) {
    padding: 40px 40px 0 40px;
    display: flex;
    flex-wrap: wrap;
  }
}

.footer__flex-wrapper {
  padding: 22px 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet-width) {
    padding: 42px 20px 32px 20px;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    flex-direction: column;
    justify-content: flex-start;
  }
}

.footer__logo {
  margin-right: 38px;

  @media (min-width: $desktop-width) {
    margin-right: 0;
    margin-bottom: 50px;
  }
}

.footer__bange {
  margin: 0;
  margin-bottom: 12px;
  padding: 0;
}

.footer__copyright {
  padding: 20px 20px 30px 20px;
  display: flex;
  gap: 4px;
  align-items: center;
  justify-content: center;
  border-top: 1px solid var(--navigation-color);
  text-decoration: none;
  color: var(--gray-color);
  font-size: 12px;
  line-height: 16px;

  @media (min-width: $tablet-width) {
    padding: 30px 20px 40px 20px;
    border: none;
  }

  @media (min-width: $desktop-width) {
    padding: 20px 40px 40px 40px;
  }
}
