.form {
  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;
    gap: 40px 30px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: column;
    gap: 30px;
  }
}

.form__group {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }
}

.form__price-wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: var(--gray-color);
}

.form__buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: center;
  }

  @media (min-width: $desktop-width) {
    margin-top: 10px;
  }
}
