.title {
  padding: 0;
  font-size: 36px;
  font-weight: 700;
  line-height: 48px;
  letter-spacing: 0.72px;

  @media (min-width: $tablet-width) {
    font-size: 56px;
    line-height: 80px;
    letter-spacing: 1.12px;
  }
}
